.getCode{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #006699;
}
.login-now{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #006699;
}
.reg{
    width: 100%;
}
