#getCode {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #006699;
}
#login-now {
  float: right;
  margin: 10px 10px 0 0;
  font-size: 14px;
  color: #006699;
}
#register-btn, 
#login-btn {
  width: 90%;
}
label, input, a {
  font-size: 14px;
}
.resBtn{
  color: #006699;
}