.filter {
  margin: 10px;
  font-size: 14px;
  background-color: #efeff4;
}
.filter .mui-col-xs-6 {
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.filter .mui-icon {
  font-size: 14px;
}
#refreshContainer {
  position: absolute;
  top: 44px;
  bottom: 50px;
  left: 0;
  right: 0;
}